<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <welcome-file-list>
        <welcome-file>loginPage.xml</welcome-file>
        <welcome-file>loginstylesheet.xsl</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>Servlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/MainPage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Servlet2</servlet-name>
        <servlet-class>Servlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet2</servlet-name>
        <url-pattern>/LogOutPage</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/ContentSheet2.xml</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>Filter1</filter-name>
        <filter-class>AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Filter1</filter-name>
        <url-pattern>/ContentSheet2-1.xml</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>Filter2</filter-name>
        <filter-class>AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Filter2</filter-name>
        <url-pattern>/content</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>Filter3</filter-name>
        <filter-class>AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Filter3</filter-name>
        <url-pattern>/ContentSheet1-1.xml</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>Filter4</filter-name>
        <filter-class>AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Filter4</filter-name>
        <url-pattern>/ContentSheet2-2.xml</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>Filter5</filter-name>
        <filter-class>AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Filter5</filter-name>
        <url-pattern>/ContentSheet3.xml</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>Filter6</filter-name>
        <filter-class>AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Filter6</filter-name>
        <url-pattern>/MainPage</url-pattern>
    </filter-mapping>




    <filter>
        <filter-name>NoCacheFilter</filter-name>
        <filter-class>NoCacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NoCacheFilter</filter-name>
        <url-pattern>/ContentSheet2.xml</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>NoCache</filter-name>
        <filter-class>NoCacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NoCache</filter-name>
        <url-pattern>/ContentSheet2-1.xml</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>NoCache1</filter-name>
        <filter-class>NoCacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NoCache1</filter-name>
        <url-pattern>/content</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>NoCache2</filter-name>
        <filter-class>NoCacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NoCache2</filter-name>
        <url-pattern>/ContentSheet1-1.xml</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>NoCache3</filter-name>
        <filter-class>NoCacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NoCache3</filter-name>
        <url-pattern>/ContentSheet2-2.xml</url-pattern>
    </filter-mapping>


    <filter>
        <filter-name>NoCache4</filter-name>
        <filter-class>NoCacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NoCache4</filter-name>
        <url-pattern>/ContentSheet3.xml</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>NoCache5</filter-name>
        <filter-class>NoCacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NoCache5</filter-name>
        <url-pattern>/MainPage</url-pattern>
    </filter-mapping>



</web-app>